*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
.cloud
.storage
.uuid
core.*
__pycache__
*.sqlite
.uuid
.wink.conf
.automatic
.HA-VERSION
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
lib
deps
tts
secrets.yaml
secrets
known_devices.yaml
zones.yaml
zwscene.xml
zigbee.db
html5_push_registrations.conf
ip_bans.yaml
harmony_living_room.conf
entity_registery.yaml
